@import url(https://fonts.googleapis.com/css2?family=Passion+One&display=swap); 

body {
    height: 100vh;
    margin:0;

    display: grid;
    grid-template-areas: 
    "header header"
    "main aside"
    "footer footer";
    grid-template-rows: 5.5em 1fr 4em;
    grid-template-columns: 80% 20%;
}

header {
    grid-area: header;
    border: 1px solid green;
}

main {
    grid-area: main;
    border: 1px solid red;
}

aside {
    grid-area: aside;
    border: 1px solid orange;
}

footer{
    grid-area: footer;
    border: 1px solid blue;
    justify-content: center;
}

nav {
    background-color: blue;
    font-family: 'Passion One';
    text-align: center;
    padding-bottom: 0.5em;
}

nav span {
    font-size: 25px; 
    display: block;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
}

li a {
    text-decoration: none;
    border-radius: 3px;
    padding: 10px;
    color: white;
}

li a:hover {
    background-color: darkblue;
}

#apresentacao_imagens {
    background-color: #181614d5;
    text-align: center;
    width: 60%;
    padding: 10px;
    margin-top: 10px;
}

.imagens {
    width: 200px;
    height: 200px;
}

.imagens:hover {
    width: 220px;
    height: 220px;
    border-radius: 3px;
}

.link-footer {
    display: inline;
}