@import url(https://fonts.googleapis.com/css2?family=Passion+One&display=swap); 

* {
    margin: 0 auto;
}

nav {
    background-color: blue;
    padding: 20px;
    width: 50%;
    font-family: 'Passion One';
    text-align: center;
}

nav span {
    font-size: 25px; 
    display: block; 
    margin: 10px;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
}

a {
    text-decoration: none;
    border-radius: 3px;
    padding: 10px;
    color: white;
}

a:hover {
    background-color: darkblue;
}