@import url(https://fonts.googleapis.com/css2?family=Passion+One&display=swap); 


/*Extra small < 576*/
@media screen and (max-width: 575px) {
    body {
        height: 100vh;
        margin:0;
    
        display: grid;
        grid-template-areas: 
        "header header"
        "main aside"
        "footer footer";
        grid-template-rows: 5.5em 1fr 4em;
        grid-template-columns: 50% 50%;
    }
    
    header {
        grid-area: header;
        border: 1px solid green;
    }
    
    main {
        grid-area: main;
        border: 1px solid red;
    }
    
    aside {
        grid-area: aside;
        border: 1px solid orange;
    }
    
    footer{
        grid-area: footer;
        border: 1px solid blue;
    }
    
    nav {
        background-color: blue;
        font-family: 'Passion One';
        text-align: center;
        padding-bottom: 0.5em;
    }
    
    nav span {
        font-size: 25px; 
        display: block;
    }
    
    ul {
        list-style-type: none;
    }
    
    li {
        display: inline;
    }
    
    li a {
        text-decoration: none;
        border-radius: 3px;
        padding: 10px;
        color: white;
    }
    
    li a:hover {
        background-color: darkblue;
    }
    
    #apresentacao_imagens {
        background-color: #181614d5;
        text-align: center;
        width: 60%;
        padding: 10px;
        margin-top: 10px;
        margin-left: 5em;
    }
    
    #grafico {
        display: none;
    }
    
    .imagens {
        width: 200px;
        height: 200px;
    }
    
    .imagens:hover {
        width: 220px;
        height: 220px;
        border-radius: 3px;
    }
    
    .link-footer {
        display: inline;
    }
    
    .tabela {
        justify-content: space-around;
        background-color: rgba(56, 56, 56, 0.151);
        margin: 5px;
        border: 2px solid rgb(46, 0, 214);
        border-radius: 8px;
        padding: 5px;
    }
    
    .dados-jogador {
        color: white;
        border: 1px solid rgb(0, 150, 250);
        background-color:rgb(19, 16, 11);
        margin: 10px;
        padding: 10px;
        border-radius: 5px;
    }
    
    .botao-ocultar {
        background-color: #4CAF50; /* Green */
        border: none;
        border-radius: 10px;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }
    
    .botao-ocultar:hover {
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    }
}
    
/*Small >= 576*/
@media screen and (max-width: 768px) and (min-width: 576px) {
    body {
        height: 100vh;
        margin:0;
    
        display: grid;
        grid-template-areas: 
        "header header"
        "main aside"
        "footer footer";
        grid-template-rows: 5.5em 1fr 4em;
        grid-template-columns: 60% 40%;
    }
    
    header {
        grid-area: header;
        border: 1px solid green;
    }
    
    main {
        grid-area: main;
        border: 1px solid red;
    }
    
    aside {
        grid-area: aside;
        border: 1px solid orange;
    }
    
    footer{
        grid-area: footer;
        border: 1px solid blue;
        position: center;
    }
    
    nav {
        background-color: blue;
        font-family: 'Passion One';
        text-align: center;
        padding-bottom: 0.5em;
    }
    
    nav span {
        font-size: 25px; 
        display: block;
    }
    
    ul {
        list-style-type: none;
    }
    
    li {
        display: inline;
    }
    
    li a {
        text-decoration: none;
        border-radius: 3px;
        padding: 10px;
        color: white;
    }
    
    li a:hover {
        background-color: darkblue;
    }
    
    #apresentacao_imagens {
        background-color: #181614d5;
        text-align: center;
        width: 60%;
        padding: 10px;
        margin-top: 10px;
        margin-left: 5em;
    }
    
    #grafico {
        margin: 1em;
        margin-top: 3em;
    }
    
    .imagens {
        width: 200px;
        height: 200px;
    }
    
    .imagens:hover {
        width: 220px;
        height: 220px;
        border-radius: 3px;
    }
    
    .link-footer {
        display: inline;
    }
    
    .tabela {
        justify-content: space-around;
        background-color: rgba(56, 56, 56, 0.151);
        margin: 5px;
        border: 2px solid rgb(46, 0, 214);
        border-radius: 8px;
        padding: 5px;
    }
    
    .dados-jogador {
        color: white;
        border: 1px solid rgb(0, 150, 250);
        background-color:rgb(19, 16, 11);
        margin: 10px;
        padding: 10px;
        border-radius: 5px;
    }
    
    .botao-ocultar {
        background-color: #4CAF50; /* Green */
        border: none;
        border-radius: 10px;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }
    
    .botao-ocultar:hover {
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    }
}
    
/*Medium >= 768*/
@media screen and (max-width: 991px) and (min-width: 769px) {
    body {
        height: 100vh;
        margin:0;
    
        display: grid;
        grid-template-areas: 
        "header header"
        "main aside"
        "footer footer";
        grid-template-rows: 5.5em 1fr 4em;
        grid-template-columns: 70% 30%;
    }
    
    header {
        grid-area: header;
        border: 1px solid green;
    }
    
    main {
        grid-area: main;
        border: 1px solid red;
    }
    
    aside {
        grid-area: aside;
        border: 1px solid orange;
    }
    
    footer{
        grid-area: footer;
        border: 1px solid blue;
        position: center;
    }
    
    nav {
        background-color: blue;
        font-family: 'Passion One';
        text-align: center;
        padding-bottom: 0.5em;
    }
    
    nav span {
        font-size: 25px; 
        display: block;
    }
    
    ul {
        list-style-type: none;
    }
    
    li {
        display: inline;
    }
    
    li a {
        text-decoration: none;
        border-radius: 3px;
        padding: 10px;
        color: white;
    }
    
    li a:hover {
        background-color: darkblue;
    }
    
    #apresentacao_imagens {
        background-color: #181614d5;
        text-align: center;
        width: 60%;
        padding: 10px;
        margin-top: 10px;
        margin-left: 5em;
    }
    
    #grafico {
        margin: 1em;
        margin-top: 3em;
    }
    
    .imagens {
        width: 200px;
        height: 200px;
    }
    
    .imagens:hover {
        width: 220px;
        height: 220px;
        border-radius: 3px;
    }
    
    .link-footer {
        display: inline;
    }
    
    .tabela {
        justify-content: space-around;
        background-color: rgba(56, 56, 56, 0.151);
        margin: 5px;
        border: 2px solid rgb(46, 0, 214);
        border-radius: 8px;
        padding: 5px;
    }
    
    .dados-jogador {
        color: white;
        border: 1px solid rgb(0, 150, 250);
        background-color:rgb(19, 16, 11);
        margin: 10px;
        padding: 10px;
        border-radius: 5px;
    }
    
    .botao-ocultar {
        background-color: #4CAF50; /* Green */
        border: none;
        border-radius: 10px;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }
    
    .botao-ocultar:hover {
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    }
}

/*Medium >= 992*/
@media screen and (max-width: 1999px) and (min-width: 992px)  {
    body {
        height: 100vh;
        margin:0;
    
        display: grid;
        grid-template-areas: 
        "header header"
        "main aside"
        "footer footer";
        grid-template-rows: 5.5em 1fr 4em;
        grid-template-columns: 75% 35%;
    }
    
    header {
        grid-area: header;
        border: 1px solid green;
    }
    
    main {
        grid-area: main;
        border: 1px solid red;
    }
    
    aside {
        grid-area: aside;
        border: 1px solid orange;
    }
    
    footer{
        grid-area: footer;
        border: 1px solid blue;
        position: center;
    }
    
    nav {
        background-color: blue;
        font-family: 'Passion One';
        text-align: center;
        padding-bottom: 0.5em;
    }
    
    nav span {
        font-size: 25px; 
        display: block;
    }
    
    ul {
        list-style-type: none;
    }
    
    li {
        display: inline;
    }
    
    li a {
        text-decoration: none;
        border-radius: 3px;
        padding: 10px;
        color: white;
    }
    
    li a:hover {
        background-color: darkblue;
    }
    
    #apresentacao_imagens {
        background-color: #181614d5;
        text-align: center;
        width: 60%;
        padding: 10px;
        margin-top: 10px;
        margin-left: 5em;
    }
    
    #grafico {
        margin: 1em;
        margin-top: 3em;
    }
    
    .imagens {
        width: 200px;
        height: 200px;
    }
    
    .imagens:hover {
        width: 220px;
        height: 220px;
        border-radius: 3px;
    }
    
    .link-footer {
        display: inline;
    }
    
    .tabela {
        justify-content: space-around;
        background-color: rgba(56, 56, 56, 0.151);
        margin: 5px;
        border: 2px solid rgb(46, 0, 214);
        border-radius: 8px;
        padding: 5px;
    }
    
    .dados-jogador {
        color: white;
        border: 1px solid rgb(0, 150, 250);
        background-color:rgb(19, 16, 11);
        margin: 10px;
        padding: 10px;
        border-radius: 5px;
    }
    
    .botao-ocultar {
        background-color: #4CAF50; /* Green */
        border: none;
        border-radius: 10px;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }
    
    .botao-ocultar:hover {
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    }
}

/*Medium >= 992*/
@media screen and (min-width: 1200px)  {
    body {
        height: 100vh;
        margin:0;
    
        display: grid;
        grid-template-areas: 
        "header header"
        "main aside"
        "footer footer";
        grid-template-rows: 5.5em 1fr 4em;
        grid-template-columns: 80% 20%;
    }
    
    header {
        grid-area: header;
        border: 1px solid green;
    }
    
    main {
        grid-area: main;
        border: 1px solid red;
    }
    
    aside {
        grid-area: aside;
        border: 1px solid orange;
    }
    
    footer{
        grid-area: footer;
        border: 1px solid blue;
        position: center;
    }
    
    nav {
        background-color: blue;
        font-family: 'Passion One';
        text-align: center;
        padding-bottom: 0.5em;
    }
    
    nav span {
        font-size: 25px; 
        display: block;
    }
    
    ul {
        list-style-type: none;
    }
    
    li {
        display: inline;
    }
    
    li a {
        text-decoration: none;
        border-radius: 3px;
        padding: 10px;
        color: white;
    }
    
    li a:hover {
        background-color: darkblue;
    }
    
    #apresentacao_imagens {
        background-color: #181614d5;
        text-align: center;
        width: 60%;
        padding: 10px;
        margin-top: 10px;
        margin-left: 5em;
    }
    
    #grafico {
        margin: 1em;
        margin-top: 3em;
    }
    
    .imagens {
        width: 200px;
        height: 200px;
    }
    
    .imagens:hover {
        width: 220px;
        height: 220px;
        border-radius: 3px;
    }
    
    .link-footer {
        display: inline;
    }
    
    .tabela {
        justify-content: space-around;
        background-color: rgba(56, 56, 56, 0.151);
        margin: 5px;
        border: 2px solid rgb(46, 0, 214);
        border-radius: 8px;
        padding: 5px;
    }
    
    .dados-jogador {
        color: white;
        border: 1px solid rgb(0, 150, 250);
        background-color:rgb(19, 16, 11);
        margin: 10px;
        padding: 10px;
        border-radius: 5px;
    }
    
    .botao-ocultar {
        background-color: #4CAF50; /* Green */
        border: none;
        border-radius: 10px;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }
    
    .botao-ocultar:hover {
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    }
}